<template>
     <!-- Instagram Section Begin -->
    <div class="instagram-photo">
        <div class="insta-item set-bg"  style="background-image: url('/img/katalog3.png')">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/aurum_hijab/">aurum_hijab</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" style="background-image: url('/img/katalog2.png')">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/aurum_hijab/">aurum_hijab</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" style="background-image: url('/img/Produk1.jpg')">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/aurum_hijab/">aurum_hijab</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" style="background-image: url('/img/katalog4.png')">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="https://www.instagram.com/aurum_hijab/">aurum_hijab</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" style="background-image: url('/img/katalog5.png')">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">aurum_hijab</a></h5>
            </div>
        </div>
        <div class="insta-item set-bg" style="background-image: url('/img/katalog4.png')">
            <div class="inside-text">
                <i class="ti-instagram"></i>
                <h5><a href="#">aurum_hijab</a></h5>
            </div>
        </div>
    </div>
    <!-- Instagram Section End -->

</template>
<script>
 
export default {
    name:" InstaAurum",
    
    }


</script>
<style scoped>

.insta-item{
    margin-right: 0px;
}

</style>